FAIR_VALUE_APP_ENV=development
FAIR_VALUE_LOG_LEVEL=INFO
FAIR_VALUE_DATA_DIR=data

FAIR_VALUE_KIS_ENVIRONMENT=paper
FAIR_VALUE_KIS_APP_KEY=your_app_key
FAIR_VALUE_KIS_APP_SECRET=your_app_secret
FAIR_VALUE_KIS_ACCOUNT_NUMBER=12345678
FAIR_VALUE_KIS_ACCOUNT_PRODUCT_CODE=01